<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GCSupportedGameControllers</key>
	<array>
		<dict>
			<key>ProfileName</key>
			<string>ExtendedGamepad</string>
		</dict>
		<dict>
			<key>ProfileName</key>
			<string>MicroGamepad</string>
		</dict>
		<dict>
			<key>ProfileName</key>
			<string>DirectionalGamepad</string>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>reto-pixel-arcade.ttf</string>
	</array>
	<key>GCSupportsControllerUserInteraction</key>
	<true/>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Requries the local network to connect to the controller app.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_su-virtgc01._tcp</string>
	</array>
</dict>
</plist>
